* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a:focus {
  outline: 0;
}

#content-body {
  min-height: 85px;
}

#heading a {
  font-size: 1.137em;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 1px 1px #555;
}

a {
  text-decoration: none;
  color: #B3C3C7;
}

a:hover {
  text-decoration: none;
  color: #B3C3C7;
}

span.alt-text {
  color: #EBCCA2;
}

a:hover.navlink {
  color: #EBCCA2;
}

div#content-wrapper {
  max-width: 768px;
  width: 92%;
  margin: 0 auto;
}

div#content-mainbox {
  border-radius: 1em;
  padding: 1em;
  background-image: url("../images/bikegravel.jpg");
}

footer {
  margin: 10px auto;
  text-align: center;
  max-width: 960px;
  width: 95%;
  color: #B3C3C7;
  font-size: .7em;
  font-family: 'Droid Serif', serif;
}

h1 {
  margin: 0px;
}

body {
  background-color: #80697F;
}

div#main-text-box {
  background-color: #dddddd;
  padding: 1em;
  zoom: 1;
  background-color: rgba(255,255,255,0.85);
  font-family: 'Droid Serif', serif;
  line-height: 1.75em;
  color: #444;
  border-radius: 1em;
}

h2 {
  color: #80697F;
  font-family: 'Oswald', sans-serif;
  font-size: 1.7em;
  margin-bottom: 0.75em;
  text-shadow: 1px 1px 1px #999;  
}

::selection {
  background:#FF99CC;
  color: #FFF;
}


::-moz-selection {
  background:#FF99CC;
  color: #FFF;
}

::-webkit-selection {
  background:#FF99CC;
  color: #FFF;
}

.navigation1 ul {
  padding: 0;
  margin: 0;
}

#navigation2 {
  display: none;
}

.navigation ul {
  list-style-type: none;
}

a.navlink {
  text-decoration: none;
  color: #B3C3C7;
  font-size: 1.4em;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: color .2s ease-in;  
  -moz-transition: color .2s ease-in;  
  -o-transition: color .2s ease-in;  
  transition: color .2s ease-in;
  text-shadow: 2px 1px 1px #555;  
  border-top: 1px solid gray;
  display: block;
  padding-right: 0em;
}

.menuButton {
  display: none;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px #999 solid;
  display: block;
  color: #444;
  text-align: right;
  padding-right: 10px;
  background-color: grey;
  text-shadow: 1px 1px 1px #B3C3C7;
}

.hideClass {
  height: 0px;
  opacity: 0;
}

.clear {
  overflow: hidden;
  width: 100%;
}

@media all and (min-width: 650px) {

  div#main-text-box {
    float: left;
    width: 100%;
  }

  .menuButton, .navigation1 {
    display: none;
  }

  #main-content {
    width: 80%;
    margin-right: .5em;
  }

  h2 {
    font-size: 4em;
    text-shadow: 2.5px 2.5px 2.75px #666;
    margin-bottom: .5em;
    margin-top: -.17em;
  }

  #heading a {
    font-size: 2em;
  }

  #navigation2 {
    display: block;
    float: left;
    width: 20%;
  }

  #navigation2 ul {
    padding-left: 0em;
  }

  #navigation2 ul li {
    padding-left: .5em;
    padding-right: .75em;
    background-color: #80697F;
    -webkit-transition: padding-left .2s ease 0s;
    -moz-transition: padding-left .2s ease 0s;
    -o-transition: padding-left .2s ease 0s;
    -ms-transition: padding-left .2s ease 0s;
    transition: padding-left .2s ease 0s;
  }

  #navigation2 ul li:hover {
    padding-left: 1em;
  }

  #navigation2 ul a:first-child {
    border-top: none;
  }

  a.navlink {
    border-top: 1px solid #999;
  }
}
