#heading a {
  font-size: 1.137em;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 1px 1px #555;
}

a {
  text-decoration: none;
  color: #B3C3C7;
}

a:hover {
  text-decoration: none;
  color: #B3C3C7;
}

span.alt-text {
  color: #EBCCA2;
}

a:hover.navlink {
  color: #EBCCA2;
}

div#content-wrapper {
  max-width: 768px;
  width: 92%;
  margin: 0 auto;
}

div#content-mainbox {
  /*border: 1em #dddddd solid;*/
  border-radius: 1em;
  padding: 1em;
  background-image: url("../images/bikegravel.jpg");
}

div#footer {
  margin: 10px auto;
  text-align: center;
  max-width: 960px;
  width: 95%;
  color: #B3C3C7;
  font-size: .7em;
  font-family: 'Droid Serif', serif;
}

h1 {
  margin: 0px;
}

body {
  background-color: #80697F;
}

div#main-text-box {
  background-color: #dddddd;
  padding: 1em;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.90;
  font-family: 'Droid Serif', serif;
  line-height: 1.75em;
  color: #444;
  border-radius: 1em;
}

div#content-title {
  color: #80697F;
  font-family: 'Oswald', sans-serif;
  font-size: 1.7em;
  margin-bottom: 0.75em;
  text-shadow: 1px 1px 1px #999;  
}

::selection {
  background:#FF99CC;
  color: #FFF;
}


::-moz-selection {
  background:#FF99CC;
  color: #FFF;
}

::-webkit-selection {
  background:#FF99CC;
  color: #FFF;
}

.navigation1 ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

a.navlink {
  text-decoration: none;
  color: #B3C3C7;
  font-size: 1.4em;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: color .1s ease-in;  
  -moz-transition: color .1s ease-in;  
  -o-transition: color .1s ease-in;  
  transition: color .1s ease-in;
  text-shadow: 2px 1px 1px #555;  
  border-bottom: 1px solid gray;
  display: block;
}

.menuButton {
  display: none;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px #999 solid;
  display: block;
  color: #444;
  text-align: right;
  padding-right: 10px;
  background-color: grey;
  text-shadow: 1px 1px 1px #B3C3C7;
}

.hideClass {
  height: 0px;
  opacity: 0;
}

@media all and (min-width: 650px) {
  .menuButton, .navigation1 {
    display: none;
  }
  #main-content {
    width: 65%;
  }
}

@media all and (min-width: 750px) {
}
